.btn {
  width: 100%;
}

th, tr {
  text-align: center;
}


body {
  margin: auto;
  max-width: 1024px;
  min-width: 320px;
}

.nav-tabs {
  margin-top: 30px;
}

.table-sm {
  width: 100%;
}

.outputDiv {
  width: 100%;
  padding: 2px;
  padding-left: 15px;
  margin: auto;
  border: 1px solid #AAA;
  overflow-y: scroll;
  white-space: pre-wrap;
}

.buttons {
  width: 100%;
  margin: 5px 0 15px;
}